@import '../../../../theme/variables.less';

.detailPage {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #e8e9ea;
  color: #555;
  padding-bottom: 60px;
  padding-top: 60px;
  .card{
    margin: 25px;
    &:hover {
      
    }
  }

  .detailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
