@import '../../../../theme/variables.less';

.detailPage {
  width: 100%;
  height: calc(~"100vh - @{menu_height}");
  overflow: auto;
  background: white;
  .count{
    color: #ccc;
    width: 100%;
    margin: 10px;
  }
  .detailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .card{
      margin: 10px;
    }
  }
}
