@cardHeight: 150px;
@cardWidth: 450px;
.card{
  width: @cardWidth;
  height: @cardHeight;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .3);
  .bgimg{
    width: @cardHeight;
    height: @cardHeight;
    background-position: center;
    background-size: cover;
  }
  .cardInfo{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    .title{
      color: #555;
      font-size: 24px;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .des{
      font-size: 12px;
      color: #777;
    }

    .buttons{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      flex-grow: 1;
      align-items: flex-end;
      .circle{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: #bbb;
        margin: 0 5px;
        text-align: center;
        line-height: 40px;
        color: white;
        font-size: 25px;
        transition: .25s all;
        &:hover{
          transform: scale(1.5) rotate(370deg);
        }
        &.demo{
          background-color: rgb(255, 101, 116);
        }
        &.repo{
          background-color: #222;
          color: white;
        }
      }
    }
  }

}
